/* 
    Document   : setup stylesheet
    Created on : Dec 29, 2013, 1:50:33 PM
    Author     : fouraxiz
    Description: Stylesheet contains css for the setup module.
*/

root { 
    display: block;
}

